* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #341f97;
  align-items: center;
}

.class,
.video,
.notes,
.quiz {
  width: 50%;
  background-color: white;
  margin: 15px 90px;

  border: 3px solid white;
}
.btn {
  width: 25%;
  height: auto;
  background-color: #341f97;
  color: white;
  border-radius: 100px;
  border-color: transparent;
  margin: 50px;
  position: absolute;
  font-size: 1.875rem;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(69, 79, 223);
  border-color: transparent;
}
.image {
  width: 40%;
  height: auto;
}
